.contenedor {
    display: flex;
    flex-direction: column;
    height: auto;
}

.vehiculos {
    height: auto;
    display: flex;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding-bottom: 10%;
}
.vehiculos_internos{
    height: auto;
}
.vehiculos_internos_boton_eliminar{
    margin-top: 1rem;
}